@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700|Playfair+Display:100,200,300,400,500,600,700');

/*--------------------------------------------Colors and background images*/

.bg-color-site-banner {
    background-color: #3498db;
    background-image: url(../images/stpauls.jpg);
    background-position: center;
}

.navbar-color-menu {
    background-color: rgb(1, 70, 1);
}

.navbar-color-events {
    background-color: rgb(68, 1, 68);
}

.navbar-color-contact {
    background-color: rgb(146, 5, 5);
}

.bg-color-index-text {
    background-color: #fff;
}

.bg-food-image-one {
    background-image: url(../images/feta-salad.jpg);
    background-position: right;
}

.fg-color-icon {
    color: #f4f4f4;
}

.bg-color-work-history {
    background-color: #9b59b6;
}

.bg-color-contact {
    background-color: #fff;
}

.food-menu-image {
    background-image: url(../images/menu-background.jpg);
}

/*--------------------------------------------Font awesom icon styling*/

.big-icons {
    font-size: 100px;

}

.mid-icons {}

.small-icons {}


/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.history-heading,
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

.vertical-center {
    margin-top: 155px;

}

.anti-opacity-text {
    color: rgba(0, 0, 0, 1.0);

}

.shadow-text {
    text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
    ;
}

.usher-left {
    margin-right: 150px;
}

.usher-down {
    margin-top: 15px;
}

.usher-up {
    margin-top: -150px;
}

.close-top {
    margin-top: -60px;
}

.font-railway {
    font-family: "Raleway", sans-serif;

}

.font-playfair {
    font-family: "Playfair Display", sans-serif;
}

.menu-body-header {
    margin-bottom: 15px;
}

.food-menu-text {
    font-family: "Playfair Display", sans-serif;
    font-weight: 200;
    color: rgb(253, 249, 249);
}


/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.primary-header {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 66px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 1.0);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
    ;
    text-decoration: none;
}

.primary-header:hover {
    color: rgba(0, 0, 0, 1.0);
}

.title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 200;
    font-size: 23px;
    color: rgba(0, 0, 0, 1.0);
}

.big-title {
    font-weight: 400;
    font-size: 70px;
    margin-top: -10px;
}

.linebreak {
    font-size: 30px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
    ;
    margin-bottom: 20px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

/*--------------------------------------------Containers*/

.dual-row-upper {
    height: 500px;
}

.pad-bottom {
    padding-bottom: 10px;
}

.menu-header {
    height: 400px;
    background-image: url(../images/stpaulsbay.jpg);
    background-position: center;
}

/*--------------------------------------------Buttons*/

.cta-large {
    width: 75%;
    height: 75%;
    margin-top: 20px;
}


/*--------------------------------------------Footer*/

footer {
    background-color: #525252;
    color: #fafafa;
    font-size: x-small;

}

.foot-style {
    margin-top: 30px;

}